/*
GISAU Color Theme:
2B425F - Blue
5C3032 - Maroon
A62F2F - Red
C98524 - Ocare
CC9393 - Peach
FCEEE6 - Pink
*/

@font-face {
font-family: DIN;
src: url(font/DIN.ttf);
}

@font-face {
font-family: BLANCH_CONDENSED;
src: url(font/BLANCH_CONDENSED.otf);
}

.upcoming_box {
	margin: 10px 0px;
	display: flex;
	margin-bottom: 20px;
	flex-direction: column;
	align-content: center;
    align-items: center;
	justify-content: center;
}

.upcoming_title {
	color: black;
	font-size: 150%;
	margin-top: 37px;
}

.poster {
	max-height: 375px;
	max-width: 500px;
	background: black;
}

.upcoming_poster {
  	display: block;
  	max-height: 375px;
  	width: auto;
  	height: auto;
}

.calendar_container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: center;
    align-items: center;
	justify-content: center;
	background: white;
	width: 80%;
	padding: 20px 0px; 
}

.calendar {
	background-color: white;
	border-radius: 10%;
	width: 80px;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-content: center;
    align-items: center;
	justify-content: center;
	color: red;
}

.date {
	font-size: 190%;
	color: black;
}

.description {
	padding: 20px 20px;
    text-align: left;
    display: none;
}

.event_info {
	height: 80px;
	width: 100%;
	color: grey;
	padding: 5px 20px;
	text-align: left;
}

.name {
	color: black;
	font-size: 130%;
}

@media (min-width: 380px){
	.upcoming_box {
		flex-direction: row;
		align-items: flex-start;
		background: url("../media/redbg.jpg");
		margin: 0px 0px;
		padding-bottom: 20px;
	}
	.upcoming_title {
		background: url("../media/redbg.jpg");
		padding: 1px 0px;
		margin-top: 31px;
	}
	.upcoming_title h1 {
		color: #D3D3D3 !important;
		letter-spacing: 3px;
	}
	.calendar_container {
		flex-direction: column;
		height: 375px;
		background-color: #D3D3D3;
		align-items: flex-start;
		width: 60%;
	}
	.calendar {
		display: none;
	}
	.description {
		display: block;
		max-width: 500px;
	}
}