@font-face {
font-family: DIN;
src: url(font/DIN.ttf);
}

@font-face {
font-family: BLANCH_CONDENSED;
src: url(font/BLANCH_CONDENSED.otf);
}

.teamPageTitle {
	width: 80vw;
	height: auto;
	margin-top: 40px;
	align-items: center;
	justify-content: center;
}

.teamPage {
    background: #515f49;
    justify-content: center;
    align-items: center;
}

.pageTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: BLANCH_CONDENSED;
	font-size: 63px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0px 20px;
	padding: 10px 10px;
	background: cornsilk;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    content: "";
    clear: both;
    display: flex;
}

.teamBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	float: left;
    padding: 5px;
    width: 25%;
    padding-right: 5px;
    padding-left: 5px;
}

.teamBox1{
	padding-top: 10px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	float: left;
    padding: 5px;
    height: 353.66px;
    width: 25%;
}

.teamTitle{
	padding: 20px 10px;
	display: block;
	text-align: center;
	justify-content: center;
	width: 219.2px;
	height: 66.8px;
	background: #515f49;
	color: white;
	font-family: DIN;
	font-size: 16px;
	vertical-align: middle;
}

.teamTitle2{
	padding: 20px 10px;
	display: block;
	text-align: center;
	justify-content: center;
	width: 219.2px;
	height: 66.8px;
	background: #515f49;
	color: white;
	font-family: DIN;
	font-size: 16px;
	vertical-align: middle;
	position: relative;
	top: 28px;
}

.teamTitle1{
	padding: 10px 10px;
	display: block;
	text-align: center;
	justify-content: center;
	width: 219.2px;
	height: 66.8px;
	background: #515f49;
	color: white;
	font-family: DIN;
	font-size: 16px;
	vertical-align: middle;
}

.teamText {
	border: solid cornsilk 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Helvetica, sans-serif;
	padding: 10px;
}

.teamText1 {
	border: solid cornsilk 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Helvetica, sans-serif;
	padding: 10px;
	position: relative;
    top: 28px;
}

.teamPic {
    position: relative;
    float: left;
    padding: 5px;
    width: 180px;
    border: solid black 1.5px;
}

.teamPic1 {
    position: relative;
    float: left;
    padding: 5px;
    height: 180px;
    width: 235.85px;
    transform: rotate(90deg);
    border: solid black 1.5px;
}

.portrait {
    display: flex;
    width: 100%;
    height: auto;
}

.portraitgif {
    width: 167.18px;
    height: 222.85px;
}

.portraitgif1 {
    width: 167.18px;
    height: 222.85px;
}

.overlay {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 5px;
  right: 0;
  height: 222.85px;
  width: 167.18px;
  opacity: 0;
  transition: 1s ease;
  color: white;
}

.overlay1 {
  position: absolute;
  top: -23px;
  bottom: 0;
  left: 33px;
  right: 0;
  height: 222.85px;
  width: 167.18px;
  opacity: 0;
  transition: 1s ease;
  color: white;
  transform: rotate(270deg);
}

.teamPic:hover .overlay {
  opacity: 1;
}

.teamPic1:hover .overlay1 {
  opacity: 1;
}

.portraithover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 550px){
.teamPic, .portrait, .portraitgif, .overlay, {
	width: 200px;
	height: auto;
}

.portraitgif1 {
    width: 166.39px;
    height: 221.85px;
    bottom: 56px;
    right: 21px;
    position: relative;
}

.teamPic1 {
    width: 234.86px;
    height: auto;
}

.overlay1 {
    bottom: 20px;
    width: 234.86px;
    height: auto;
}

.teamBox {
    width: 250px;
    height: auto;
}

.teamBox1 {
    width: 250px;
    height: 333.66px;
}

.teamTitle {
	font-size: 14px;
	height: 50px;
	top: 10px;
}

.teamTitle1 {
    font-size: 14px;
	height: 50px;
    top: 28px;
}

.teamTitle2 {
    font-size: 14px;
	height: 50px;
    top: 27.5px;
}


.teamText, .teamText1{
	font-size: 12px;
}

.teamPageTitle {
    width: 300px;
    height: auto;
}

