@font-face {
font-family: DIN;
src: url(font/DIN.ttf);
}

@font-face {
font-family: BLANCH_CONDENSED;
src: url(font/BLANCH_CONDENSED.otf);
}

.teamPageTitle {
	width: 80vw;
	height: auto;
	margin-top: 40px;
}

.teamPage {
    background: #515f49;
    height: auto; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding-bottom: 20px;
    display: inline-block;
}

.pageTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: BLANCH_CONDENSED;
	font-size: 63px;
    max-width: 1240px;
}

.teamContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0px 20px;
	
	padding: 10px 10px;
	
	border: dashed black 2px;
	background: cornsilk;
        max-width: 1240px;
}

.teamBox{
	/*border: solid maroon 1px;*/
	padding: 10px 20px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.teamTitle{
	padding: 10px 10px;
	padding-bottom: 1px;
	display: flex;
	text-align: center;
	justify-content: center;
	width: 85%;
	background: #515f49;
	color: white;
	font-family: DIN;
	font-size: 16px;
}

.teamText {
	border: solid cornsilk 1px;
	display:flex;
	align-items: center;
	justify-content: center;
	font-family: Helvetica, sans-serif;
	padding: 10px;
}

.teamPic {
	height: auto;
	width: 180px;
	z-index: 1;
	border: solid 1px black;
	position: relative;
}

.portrait {
  display: block;
  width: 100%;
  height: auto;
}

.portraitgif {
	width: 180px;
	height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  color: white;
}

.teamPic:hover .overlay {
  opacity: 1;
}

.portraithover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 550px){
.teamPic, .portrait, .portraitgif, .overlay {
	width: 200px;
	height: auto;
}
.teamTitle{
	font-size: 14px;
	height: 50px;
	top: 10px;
	}
.teamText{
	font-size: 12px;
}
.teamPageTitle{
	opacity: 0;
}

